# Database
DB_USER=twoppals
DB_PASSWORD=twoppals
DB_NAME=twoppals
DB_PORT=5411

# Backend
BACKEND_PORT=1001
JWT_SECRET_KEY=ganti-dengan-random-string-panjang
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Frontend
FRONTEND_PORT=9001
VITE_API_URL=http://localhost:1001
